# Import Data from CSV

In [ ]:
import pandas as pd
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

# Describe Dataset

In [ ]:
df.describe()

# Determine If DataFrame or Series

In [ ]:
type(df)

# Determine Data Type of a column

In [ ]:
df.beer_servings.dtype

# Determine # of Rows and Columns in a DataFrame

In [ ]:
df.shape

# Determine Data Type for All Columns in a Dataframe

In [ ]:
df.dtypes

In [ ]:
df.info()

# Delete a Column

In [ ]:
df.drop(['total_litres_of_pure_alcohol'], axis=1).head()

# Check is there is Null values in head

In [ ]:
df.isnull().head()

# Check Sum of Null Values By Column

In [ ]:
df.isnull().sum()

# Groupby Continent based on Sum and Drop "total litres"

In [ ]:
drop=df.groupby(['continent']).sum().drop(['total_litres_of_pure_alcohol'], axis=1)
drop

In [ ]:
mean4=df.groupby(['continent']).mean()
mean4

In [ ]:
(df.beer_servings>50.00).head()

In [ ]:
gt50 = df.loc[df['beer_servings']>50]
gt50.head()

In [ ]:
mean.to_csv ('meandrink2.csv', index = True, header=True)

In [ ]:
mean.drop(['index_col'], axis=1)

In [ ]:
mean4=df.groupby(['continent']).mean()

In [ ]:
mean4

In [ ]:
mean5 = mean4.reset_index()

In [ ]:
mean5

In [ ]:
df.describe()

# Create Boolean Conditions for Beer, Spirit, Wine Exceeding Average

In [ ]:
df["BeerLover"]=(df['beer_servings'] > 100)
df['SpiritLover']=(df['spirit_servings']> 80)
df['WineLover']=(df['wine_servings']> 50)
df.head()

In [ ]:
df.beer_servings.dtype

# Count total number of True/False

In [ ]:
df.SpiritLover.value_counts()

# Isolate Beer Condition to Create Index

In [ ]:
beertrue=df['BeerLover']
beertrue

# Create DataFrame to Only Include True Condition for Beer

In [ ]:
beeronly=df[beertrue]
beeronly

# Groupby Beer Condition by Continent

In [ ]:
beergb = beeronly.groupby(['continent']).mean()
beergb

# Plot Only Binary Conditions

# Isolate a DataFrame Column to a Series

In [ ]:
type(df.continent)

In [ ]:
type(df["beer_servings"])

# Create a new series using concatenate

In [ ]:
df['nationcont'] = df.country+df.continent

In [ ]:
type(df["nationcont"])

In [ ]:
type(df.nationcont)

In [ ]:
df.head()

In [ ]:
df.info()

# Demonstrate the difference Between Inplace =True/False

In [ ]:
df.drop('nationcont', axis=1) #inplace=False

In [ ]:
df.info()

In [ ]:
df.drop('nationcont', axis=1, inplace=True)

# 'Inplace=True' will permanently remove column

In [ ]:
df.info()

# Drop the first five rows of a dataframe

In [ ]:
df.drop([0,1,2,3,4], axis=0).head()

In [ ]:
df.shape

In [ ]:
df.drop([0,1,2,3,4], axis=0, inplace=True)

In [ ]:
df.shape

# Sort a dataframe column

In [ ]:
df.sort_values('continent', ascending=True).head()

In [ ]:
df.sort_values('beer_servings', ascending = False).head()

In [ ]:
df.sort_values(['wine_servings'], ascending = False)

In [ ]:
df.loc[df['country']=='Lebanon']

In [ ]:
df.loc[[94]]

In [ ]:
df.iloc[[89]]

In [ ]:
df[40:90]

In [ ]:
df['sumal'] = df.beer_servings + df.spirit_servings + df.wine_servings

In [ ]:
df.head()

In [ ]:
df.continent.value_counts()